@media (max-width: 87em) {
  .wide-container {
    max-width: 120rem;
  }

  .blender-text {
    /* Multiples of 4.5 (H): 4.5 9 13.5 18 22.5 27 31.5 36 */
    /* Multiples of 8 (W):   8  16  24  32  40  48  56  64*/
    height: 27rem;
    width: 48rem;
  }

  .website-img,
  .website:link,
  .website:visited {
    width: 80%;
  }
}

@media (max-width: 68em) {
  html {
    font-size: 56.25%;
  }

  .blender-text {
    /* Multiples of 4.5 (H): 4.5 9 13.5 18 22.5 27 31.5 36 */
    /* Multiples of 8 (W):   8  16  24  32  40  48  56  64*/
    height: 22.5rem;
    width: 40rem;
  }

  .AGZ-image {
    height: 17rem;
    width: 34rem;
  }

  .section-aboutme {
    display: flex;
    justify-content: center;
  }

  .aboutme-content {
    width: 70rem;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}

@media (max-width: 56em) {
  .connect-icon-div {
    display: none;
  }

  .blender-text {
    /* Multiples of 4.5 (H): 4.5 9 13.5 18 22.5 27 31.5 36 */
    /* Multiples of 8 (W):   8  16  24  32  40  48  56  64*/
    height: 18rem;
    width: 32rem;
  }
}

@media (max-width: 47em) {
  .blender-images {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0;
  }

  .blender-text {
    height: 31.5rem;
    width: 56rem;
  }

  .aboutme-content {
    width: 50rem;
  }

  .AGZ-cards {
    flex-direction: column;
  }

  .AGZ-image {
    height: 30.5rem;
    width: 61rem;
  }

  .webdev-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .cta-form input,
  .cta-form select,
  .cta-form textarea {
    width: 35rem;
  }
}

@media (max-width: 38em) {
  html {
    font-size: 40%;
  }

  .blender-text {
    height: 27rem;
    width: 48rem;
  }
}

@media (max-width: 24em) {
  .blender-text {
    height: 18rem;
    width: 32rem;
  }

  .skill {
    flex-direction: column;
  }
}
